*{
    font-family: Poppins, arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}
ol{
    text-align: justify;
    background-color: rgb(245, 242, 242);
    border-radius: 15px;
}
li{
    margin: 10px 0px;
    padding: 0px 15px;
}

button{
    margin-top: 15px;
    width: 7rem;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background-color: rgb(159, 226, 59);
}
button:hover{
    background-color: rgb(149, 245, 6);
}

#aceito{
    transform: scale(1.8);
    cursor: pointer;
}